body {
    background-color: #4c566a;
    margin: 0%;
  }
  .para {
    color: #eceff4;
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-right: 15%;
    margin-left: 15%;
  }
  h1 {
    margin-top: 5%;
    text-align: center;
    font-family: Verdana,sans-serif, Arial;
    color: #eceff4;
  }
  .center {
    text-align: center;
  }
  .bottom {
    color: #eceff4;
    font-size: x-small;
    font-family: Monaco, Lucida Console, Courier New;
    position: fixed;
    text-align: center;
    bottom: 0px; 
    width: 100%;
  }

  .name{
    color: #eceff4;
    font-family: Monaco, Courier New;
  }

/* Top Bar Settings!*/
  .topnav {
    overflow: hidden;
    background-color: #2e3440;
  }
  
  .topnav a {
    float: left; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #d8dee9;
    color: black;
  }
  
  .topnav a.active {
    background-color: #bf616a;
    color: white;
  }
/* Top Setting ends*/


  
